<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RefEditor.Properties.Settings.mySQLConnectionString"
            connectionString="server=mysql301.1gb.ua;User Id=gbua_x_datac31a;password=a6b0a10bem1;Persist Security Info=True;database=gbua_x_datac31a"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>